body {
  font-family: 'Segoe UI', sans-serif;
  padding-bottom: 70px;
}

h1,
h2 {
  color: #333;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (min-width: 992px) {
  footer {
    
    position: relative;
    padding-top: 30px;
  }
}
